{% extends 'base.html' %}
{% load static %}
{% load sidebar %}


{% block title %} {{ post.title }} :: {{ block.super }} {% endblock %}

{% block content %}

<section class="single-blog-area">
    <div class="container">
        <div class="row">
           <div class="col-md-12">
            <div class="border-top">
                <div class="col-md-8">
                <div class="blog-area">
                    <div class="blog-area-part">
<!------------------------------------------------------------------->

                        <h2>{{ post.title }}</h2>
                        <div class="single-{content">
                            <div class="category-div">
                                <span class="category-sp">
                                    Категория: <a href="{{ post.category.get_absolute_url }}" class="gl">{{ post.category }}</a>
                                </span>
                                <br>
                                <br>
                                {% if post.tags.exists %}
                                    <span class="tag">
                                        Теги:
                                        {% for tag in post.tags.all %}
                                            <a href="{{ tag.get_absolute_url }}" class="tags-cl">{{ tag.title }}</a>
                                        {% endfor %}
                                    </span>
                                <br>

                                <span>
                                    <p class="par">Кол-во просмотров: {{ post.views }}</p>
                                </span>

                                {% endif %}
                            </div>
                           {{ post.content|safe }}
                        </div>
<!------------------------------------------------------------------->
                    </div>
                    <form action="#" method="get">
                        <div class="name">
                            <input type="text" name="" placeholder="Name" class="name">
                        </div>
                        <div class="email">
                            <input type="email" name="" placeholder="Email" class="email">
                        </div>
                        <div class="comment">
                            <input type="text" name="" placeholder="Comment" class="comment">
                        </div>
                        <div class="post">
                            <input type="submit" value="Post">
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4">


                {% get_popular %}

                {% get_tags %}

                <div class="newsletter">
                    <h2 class="sidebar-title">Subscribe To oUR nEWSLETTER</h2>
                    <form action="#" method="post">
                        <input type="email" name="" id="" placeholder="Email">
                        <input type="submit" value="Subscribe">
                    </form>
                </div>
            </div>
            </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}